.tabela_content {
    max-width: 1100px;
    margin: 0 auto;
}
.tabela {
    width: 100%;
    grid-column: span 2;
    background: #F7F7F7;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 10px;
}

.tabela thead {
    background: var(--azulClaro);
}

.tabela td,
.tabela th {
    padding: 10px;
}

.btn_editar a {
    display: flex;
    gap: 5px;
    font-size: .95rem;
    width: max-content;
    background: var(--azul);
    color: var(--branco);
    padding: 5px 10px;
    border-radius: 4px;
    transition: .3s;
}

.btn_editar a:hover {
    background-color: var(--azul-hover);
}

.pesquisar_container {
    width: 100%;
    align-content: end;
    margin-bottom: 5px;
}

.campo_pesquisa {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin-bottom: 10px;
    align-items: end;
    margin: 0 auto;
    padding: 0 15px;

}

.formulario_pesquisar {
    display: flex;
    gap: 10px;
}
.campo_pesquisa input {
    font-family: "Roboto";
    font-size: 1rem;
    padding: 5px 12px;
    border-radius: 4px;
    border: 1px solid var(--cinzaBorda);
}
.campo_pesquisa input {
    outline:none
}
.campo_pesquisa input:focus {
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
}
.campo_pesquisa button {
    background: var(--verde);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--cinzaBorda);
}

.padrao {
    max-width: 1100px;
}

.btn_adicionar {
    font-weight: 500;
    color: var(--branco);
    display: inline-block;
    background: var(--verde);
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid var(--cinzaBorda);
}

.btn_verde {
    transition: .3s;
}

.btn_verde:hover {
    background-color: var(--verde-escuro);
}

.nav_tabela_content {
    display: flex;
    justify-content: end;
}

.nav_tabela {
    display: flex;
    gap: 15px;
}

.nav_tabela button {
    font-family: "Roboto";
    font-size: 1rem;
}

.full_row {
    text-align: center;
}




