:root {
    --azul: #137cf7;
    --azul-hover:#0a5dd1;
    --azulClaro: #D1E6FF;
    --azulClaroFocus: #99c6fd;
    --branco: #ffffff;
    --preto: #000000;
    --cinzaFooter : #DBDFE9;
    --verde: #17C653;
    --verde-escuro: #139f44;
    --amarelo: #F6C000;
    --vermelho: #F8285A;
    --cinzaBorda: #c2cad8;
    --vermelhoBorda: #f6a19b;
}