body {
    margin: 0px;
    font-family: "Roboto";
}

img {
    display: block;
    max-width: 100%;
}

label, input {
    display: block;
}

select {
    cursor: pointer;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
h1, h2, h3, h4, p, ul {
    margin: 0px;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
ul {
    padding: 0;
    list-style: none;
}