<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="login_container">
        <div class="login_img">
            <img src="../static/img/login.jpg">
        </div>
        <main class="page_container">
            <div class="login_page">
                <h1 class="login_titulo">Cadastre-se</h1>
                <form autocomplete="off" id="form_cadastro" class="formulario_login" method="post" action="/cadastrar">
                    <div>
                        <label class="label_login" for="cad_email">Email</label>
                        <input class="input_login" type="text" id="cad_email" name="email" placeholder="exemplo@gmail.com
                        ">
                    </div>
                    <div>
                        <label class="label_login" for="cad_senha">Senha</label>
                        <input class="input_login" type="password" id="cad_senha" name="senha" placeholder="Senha
                        ">
                    </div>
                    <div>
                        <label class="label_login" for="confirmar">Confirmar senha</label>
                        <input class="input_login" type="password" id="confirmar" name="confirmar" placeholder="Confirmar senha
                        ">
                    </div>
                    <button class="btn_login">Cadastrar</button>
                </form>
                <p>Já possui conta? <a class="login_register" href="/">Fazer login</a></p>
                <span id="mensagem_erro" class="mensagem_servidor">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {{messages[0]}}    
                    {% endif %}
                {% endwith %}
                </span>
                
            </div>
        </main>
    </div>
    <script type="module" src="../static/js/script.js"></script>
</body>
</html>