{% extends "layout.html" %}

{% block class_header %}
  padrao
{% endblock %}

{% block title_header %}
    Cadastro Chamados
{% endblock %}

{% block principal %}
    <div class="cadastrar_chamado_content">
        <form id="formulario_cad" action="{% if action == 'criar_chamado' %}/cadastrar_chamados{% else %}/editar_chamado{% endif %}
        " method="post" class="form_cad_chamado" autocomplete="off">
            <input type="hidden" name="action" value="{{ action }}">
            <div class="form_cad">
                <div class="sub_col2">
                    <div>
                        <label for="cod_chamado">Cod</label>
                        <input disabled type="text" id="cod_chamado" name="cod" value="{{ chamado['id'] if chamado else 0}}">
                        <input type="hidden" name="cod" value="{{ chamado['id'] if chamado else 0}}">
                    </div>
                    <div>
                        <label for="entrada_chamado">Entrada</label>
                        <input type="datetime-local" id="entrada_chamado" name="entrada" value="{% if chamado %}{{entrada}}{% endif %}">
                    </div>
                </div>
                <div>
                    <label for="saida_chamado">Saída</label>
                    <input type="datetime-local" id="saida_chamado" name="saida" value="{% if chamado %}{{saida}}{% endif %}">
                </div>
                <div>
                    <label for="cliente_chamado">Cliente</label>
                    <select id="cliente_chamado" name="cliente">
                        <option disabled selected>Selecione</option>
                        {% for cliente in clientes %}
                            {% if chamado and chamado['id_cliente'] == cliente['id'] %}
                            <option selected value="{{chamado['id_cliente']}}">{{chamado['nome_cliente']}}</option>
                            {% else %}
                            <option value="{{cliente['id']}}">{{cliente["nome"]}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="status_chamado">Situação</label>
                    <select id="status_chamado" name="situacao">
                        {% for situacao in situacoes %}
                            {% if chamado and chamado['status'] == situacao %}
                                <option selected value="{{ chamado['status'] }}">{{ chamado['status'] | capitalize }}</option>
                            {% else %}
                                <option value="{{ situacao }}">{{ situacao | capitalize }}</option>
                            {% endif %} 
                        {% endfor %}
                    </select>
                </div>
                <div class="col2">
                    <label for="desc_chamado">Descricao</label>
                    <input type="text" id="desc_chamado" name="descricao" value="{{ chamado['descricao'] if chamado else '' }}">
                </div>
                <div>
                    <label for="def_chamado">Defeitos</label>
                    <textarea id="def_chamado" name="defeitos" rows="6">{{ chamado['defeitos'] if chamado else ''}}
                    </textarea>
                </div>
                <div>
                    <label for="solucao_chamado">Solução</label>
                    <textarea id="solucao_chamado" name="solucao" rows="6">{{ chamado['solucao'] if chamado else ''}}
                    </textarea>
                </div>
            </div>
            <div class="btn_save_conteiner">
                <button class="btn_save btn_verde"><img src="../static/img/icon/salvar.svg">Salvar</button>
            </div>
        </form>
    </div>      
{% endblock %}