{% extends "layout.html" %}

{% block header %}
    <section class="conteudo_header wid_cad"></section>
{% endblock %}

{% block principal %}
    <div class="cadastrar_chamado_content">
        <form class="form_cad_chamado">
            <div class="form_cad">
                <div class="sub_col2">
                    <div>
                        <label for="cod_chamado">Cod</label>
                        <input disabled type="text" id="cod_chamado" name="cod">
                    </div>
                    <div>
                        <label for="entrada_chamado">Entrada</label>
                        <input type="text" id="entrada_chamado" name="entrada">
                    </div>
                </div>
                <div>
                    <label for="saida_chamado">Saída</label>
                    <input type="text" id="saida_chamado" name="saida">
                </div>
                <div>
                    <label for="cliente_chamado">Cliente</label>
                    <input type="text" id="cliente_chamado" name="cliente">
                </div>
                <div>
                    <label for="status_chamado">Status</label>
                    <select id="status_chamado" name="status_chamado">
                        <option>Aberto</option>
                        <option>Em andamento</option>
                        <option>Fechado</option>
                    </select>
                </div>
                <div class="col2">
                    <label for="titulo_chamado">Título</label>
                    <input type="text" id="titulo_chamado" name="titulo">
                </div>
                <div>
                    <label for="desc_chamado">Descrição</label>
                    <textarea id="desc_chamado" name="descricao" rows="6">
                    </textarea>
                </div>
                <div>
                    <label for="solucao_chamado">Solução</label>
                    <textarea id="solucao_chamado" name="solucao" rows="6">
                    </textarea>
                </div>
            </div>
            <div class="btn_save_conteiner">
                <button class="btn_save"><img src="../static/img/icon/salvar.svg">Salvar</button>
            </div>
        </form>
    </div>      
{% endblock %}