{% extends "layout.html" %}

{% block header %}
    <section class="conteudo_header pesquisar_container">
        <div class="campo_pesquisa">
            <div>
                <a class="btn_adicionar" href="./cadastrar_chamados.html">+ Adicionar</a>
            </div>
            <div>
                <form class="formulario_pesquisar">
                    <input type="text" id="pesquisar_chamado" name="pesquisa" placeholder="Pesquisar">
                    <button><img src="../static/img/icon/pesquisar.svg"></button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block principal %}
    <div class="tabela_content">
        <table class="tabela">
            <thead>
                <tr >
                    <th>Cod</th>
                    <th>Cliente</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th>Abertura</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>249</td>
                    <td>Totvs S.A Joinville</td>
                    <td>Suporte a software</td>
                    <td>Em andamento</td>
                    <td>09/11/2024 12:00</td>
                    <td class="btn_editar"><a href="cadastrar_chamado.html"><img src="../static/img/icon/editar.svg">Editar</a></td>
                </tr>
            </tbody>
        </table>
        <div class="nav_tabela_content">
            <div class="nav_tabela">
                <button class="anterior">Anterior</button>
                <button class="proximo">Próximo</button>
            </div>
        </div>
    </div>
{% endblock %}