{% extends "layout.html" %}

{% block header %}
    <section class="conteudo_header pesquisar_container">
        <div class="campo_pesquisa">
            <div>
                <a class="btn_adicionar" href="/cadastrar_chamados">+ Adicionar</a>
            </div>
            <div>
                <form action="/chamados" method="get" class="formulario_pesquisar">
                    <input type="text" id="pesquisar_chamado" name="pesquisa" placeholder="Pesquisar">
                    <button><img src="../static/img/icon/pesquisar.svg"></button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block principal %}
    <div class="tabela_content">
        <table class="tabela">
            <thead>
                <tr >
                    <th>Cod</th>
                    <th>Cliente</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th>Abertura</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for chamado in chamados %}
                    <tr>
                        <td>{{ chamado["id"] }}</td>
                        <td>{{ chamado["nome"] }}</td>
                        <td>{{ chamado["descricao"] }}</td>
                        <td>{{ chamado["status"] }}</td>
                        <td>{{ chamado["emissao"] }}</td>
                        <td class="btn_editar"><a href="cadastrar_chamado.html"><img src="../static/img/icon/editar.svg">Editar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="nav_tabela_content">
            <ul class="nav_tabela">
                <li><a href="/chamados?pagina={% if page > 1 %}{{ page - 1 }}{% else %}{{ page }}{% endif %}" class="anterior">Anterior</a></li>
                {% for page in range(total_pages) %}
                    <li><a href="/chamados?pagina={{ page + 1 }}">{{ page + 1 }}</a></li>
                {% endfor %}
                <li><a href="/chamados?pagina={% if (page + 1) <= total_pages %}{{ page + 1 }}{% else %}{{total_pages}}{% endif %}" class="proximo">Próximo</a></li>
            </ul>
        </div>
    </div>
{% endblock %}