{% extends "layout.html" %}
{% block header %}
<section class="conteudo_header pesquisar_container"> 
    <div class="campo_pesquisa">
        <div>
            <a class="btn_adicionar" href="/cadastrar_clientes">+ Adicionar</a>
        </div>
        <div>
            <form class="formulario_pesquisar">
                <input type="text" id="pesquisar_cliente" name="pesquisa" placeholder="Pesquisar">
                <button><img src="../static/img/icon/pesquisar.svg"></button>
            </form>
        </div>
    </div>    
</section>
{% endblock %}
{% block principal %}
    <div class="tabela_content">
        <table class="tabela">
            <thead>
                <tr >
                    <th>Cod</th>
                    <th>Cliente</th>
                    <th>CPF/CNPJ</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>125</td>
                    <td>Totvs S.A Joinville</td>
                    <td>41.718.697/0001-18</td>
                    <td class="btn_editar"><a href="cadastrar_cliente.html"><img src="../static/img/icon/editar.svg">Editar</a></td>
                </tr>
            </tbody>
        </table>
        <div class="nav_tabela_content">
            <div class="nav_tabela">
                <button class="anterior">Anterior</button>
                <button class="proximo">Próximo</button>
            </div>
        </div>
    </div>
{% endblock %}