{% extends "layout.html" %}
{% block header %}
    <section class="conteudo_header pesquisar_container"> 
        <div class="campo_pesquisa">
            <div>
                <a class="btn_adicionar btn_verde" href="/cadastrar_clientes">+ Adicionar</a>
            </div>
            <div>
                <form action="/clientes" method="get" class="formulario_pesquisar">
                    <input type="text" id="pesquisar_cliente" name="pesquisa" placeholder="Pesquisar">
                    <button class="btn_verde"><img src="../static/img/icon/pesquisar.svg"></button>
                </form>
            </div>
        </div>    
    </section>
{% endblock %}
{% block principal %}
    <div class="tabela_content">
        <table class="tabela">
            <thead>
                <tr >
                    <th>Cod</th>
                    <th>Cliente</th>
                    <th>CPF/CNPJ</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {% if clientes|length == 0 %}
                    <tr>
                        <td class="full_row" colspan="6">Nenhum cliente encontrado</td>
                    </tr>
                {% else %}
                    {% for cliente in clientes %}
                        <tr>
                            <td>{{ cliente["id"] }}</td>
                            <td>{{ cliente["nome"] }}</td>
                            <td>{{ cliente["cpf_cnpj"] }}</td>
                            <td class="btn_editar"><a href="/editar_cliente?cliente={{ cliente['id']}}"><img src="../static/img/icon/editar.svg">Editar</a></td>
                        </tr>
                    {% endfor %}    
                {% endif %}
            </tbody>
        </table>
        <div class="nav_tabela_content">
            <ul class="nav_tabela">
                <li><a href="{% if pesquisa %}/clientes?pesquisa={{pesquisa}}&pagina={% else %}/clientes?pagina={% endif %}{% if page > 1 %}{{ page - 1 }}{% else %}{{ page }}{% endif %}" class="anterior">Anterior</a></li>
                {% for page in range(total_pages) %}
                    <li><a href="{% if pesquisa %}/clientes?pesquisa={{pesquisa}}&pagina={% else %}/clientes?pagina={% endif %}{{ page + 1 }}">{{ page + 1 }}</a></li>
                {% endfor %}
                <li><a href="{% if pesquisa %}/clientes?pesquisa={{pesquisa}}&pagina={% else %}/clientes?pagina={% endif %}{% if (page + 1) == total_pages %}{{ page + 1 }}{% else %}{{total_pages}}{% endif %}" class="proximo">Próximo</a></li>
            </ul>
        </div>
    </div>
{% endblock %}