{% extends "layout.html" %}
{% block class_header %}
  dash
{% endblock %}

{% block title_header %}
  Dashboard
{% endblock %}

{% block principal %}
    <div class="dashboard_content">
        <div class="dashboard_info dash_total">
            <h2>Total de chamados</h2>
            <span>{{ dashboard["total"]}}</span>
        </div>
        <div class="dashboard_info dash_aberto">
            <h2>Abertos</h2>
            <span>{{ dashboard["aberto"]}}</span>
        </div>
        <div class="dashboard_info dash_andamento">
            <h2>Em Andamento</h2>
            <span>{{ dashboard["em_andamento"]}}</span>
        </div>
        <div class="dashboard_info dash_finalizado">
            <h2>Finalizados</h2>
            <span>{{ dashboard["finalizado"]}}</span>
        </div>
    </div>
{% endblock %}