{% extends "layout.html" %}
{% block header %}
    <section class="conteudo_header">      
    </section>
{% endblock %}
{% block principal %}
    <div class="dashboard_content">
        <div class="dashboard_info dash_total">
            <h2>Total de chamados</h2>
            <span>10</span>
        </div>
        <div class="dashboard_info dash_aberto">
            <h2>Abertos</h2>
            <span>5</span>
        </div>
        <div class="dashboard_info dash_andamento">
            <h2>Em Andamento</h2>
            <span>3</span>
        </div>
        <div class="dashboard_info dash_finalizado">
            <h2>Finalizados</h2>
            <span>2</span>
        </div>
    </div>
{% endblock %}