<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="login_container">
        <div class="login_img">
            <img src="../static/img/login.jpg">
        </div>
        <main class="page_container">
            <div class="login_page">
                <h1 class="login_titulo">Entrar</h1>
                <form action="/dashboard" method="get" class="formulario_login">
                    <div>
                        <label class="label_login" for="log_email">Email</label>
                        <input class="input_login" type="text" id="log_email" name="email" placeholder="exemplo@dominio.com
                        ">
                    </div>
                    <div>
                        <label class="label_login" for="log_senha">Senha</label>
                        <input class="input_login" type="password" id="log_senha" name="senha" placeholder="Senha
                        ">
                    </div>
                    <button type="submit" class="btn_login">Entrar</button>
                </form>
                <p>Ainda não possui conta? <a class="login_register" href="/cadastrar">Cadastre-se</a></p>
            </div>
        </main>
    </div>
    
</body>
</html>