<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="dashboard_container">
        <header class="cabecalho">
            <div class="logo_container">
                <div class="ocultar_header_container">
                    <button class="btn_ocultar_header" id="btn_ocultar"></button>
                </div>
                <div class="logo">
                    <img src="../static/img/logotipo.png">
                    <span>WaveTech Sistemas</span>
                </div>
            </div>
            <nav class="navegacao_principal">
                <ul class="nav_links">
                    <li>
                        <a href="/">
                            <img src="../static/img/icon/dashboard-cropped.svg" width="20px" height="20px">
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/chamados">
                            <img src="../static/img/icon/chamado.svg" width="20px" height="20px">
                            <span>Chamados</span>
                        </a>
                    </li>
                    <li>
                        <a href="/clientes">
                            <img src="../static/img/icon/clientes.svg" width="20px" height="20px">
                            <span>Clientes</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </header>
        <main>
            <section class="conteudo_header">
                <div class="header_informacoes_container">
                    <div class="header_informacoes {% block class_header %}{% endblock %}">
                        <h1>{% block title_header %}{% endblock %}</h1>
                        <div class="logout_container">
                            <button class="btn_logout" aria-expanded="false" aria-controls="logout">{{ user_email }}<img src="../static/img/icon/seta_abrir.svg"></button>
                            <div class="logout" id="logout">
                                <a href="/logout">Sair</a>
                            </div>
                        </div>
                    </div>      
                </div>
                {% block header %}
                {% endblock %}
            </section>
            
            <section class="conteudo_principal">
                {% block principal %}
                {% endblock %}
            </section>

        </main>
        <footer class="footer">
            <p>2024© WaveTech Sistemas</p>
        </footer>
    </div>
    <script type="module" src="../static/js/script.js"></script>
</body>
</html>