<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="login_container">
        <div class="login_img">
            <img src="../static/img/login.jpg">
        </div>
        <main>
            <div>
                <h1>Entrar</h1>
                <form>
                    <div>
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" placeholder="exemplo@dominio.com
                        ">
                    </div>
                    <div>
                        <label for="senha">Senha</label>
                        <input type="password" id="senha" name="senha" placeholder="senha
                        ">
                    </div>
                    <button>Entrar</button>
                </form>
                <p>Ainda não possui conta? <a href="./cadastrar.html">Cadastre-se</a></p>
            </div>
        </main>
    </div>
    
</body>
</html>